section {
    margin: 0 30px;
}

.navbar {
    box-shadow: 0px 2.9825618267059326px 7.456404209136963px 0px #0000001a;

    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.nav__logo {
    padding: 20px 30px;
}

.hero__image {
    display: block;
    margin: 0 auto;
    margin-top: 26px;
    width: 400px;
}

.hero__header {
    margin-bottom: 0;
    font-size: 36px;
}

.hero__text {
    margin-top: 16px;
    max-width: 300px;
}

.section__cards {
    display: flex;
    gap: 18px;
    margin-top: 45px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin-top: 50px;
    max-width: 175px;
    font-size: 12px;
}

.card__badge {
    position: absolute;
    top: 6px;
    left: 6px;
    padding: 5px 7px;
    background-color: #fff;
    color: #222222;
    border-radius: 2px;
    font-weight: 600;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.card__image {
    width: 100%;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.card__rate {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.rate__star {
    width: 15px;
    margin-right: 3px;
}

.rate__count {
    margin-left: 3px;
    color: grey;
}

.card__topic {
    margin-top: 8px;
}

.card__cost {
    margin-top: 8px;
}
